<!DOCTYPE html>
<html>
  <head>
    <title>Gemlifting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <%= render 'homepage_menu' %>
    <%= render 'shared/flash' %>

    <div class="container container-content">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
